# cilium install --list-versions
cilium_version = "1.15.6"
cluster_id     = 1

# full cluster name will be prefix + cluster_id (i.e. "playground-aks-1")
aks_cluster_name_prefix = "playground-aks"

aks_authorized_ip_ranges = ["123.45.67.89/32"]

enable_ebpf_data_plane = true

subnet_service_endpoints = ["Microsoft.ContainerRegistry", "Microsoft.Storage"]
pods_ipv4_cidr_block     = ["10.10.0.0/18"]
services_ipv4_cidr_block = ["10.11.0.0/20"]
dns_service_ip           = "10.11.0.10"

azure_policy_enabled = true

vm_size    = "Standard_DS3_v2"
node_count = 3

enable_acs = true
